body {
	background-color: #FF9C8E;
	 
}

header {
	font-size: 1.4em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	border-bottom: 5px solid black;

}

a:hover {
	color: white;
}

.titreP{
	text-align: left;
	color: black;
	margin-bottom: 80px;
	margin-left: 15%;
	height: 150px;
	

}

.menu {
	margin-right: 10%;
	word-spacing: 2em;
	padding-top: 100px;
}

#image1{
	width: 50%;
	height: 300px;
	display:inline-block;
	float: left;
	
}

#image2{
	width: 50%;
	height: 300px;
	display:inline-block;
	float: right;
}


article{
	float: left;
}

article p{
	font-size: 2em;
	width: 50%;
	margin-left: 2%;

	}

h2{
	margin-left: 13%;
	color: red;
	font-size: 3.5em;

}

aside { 
	position: absolute;
	border: solid;
	margin-left: 60%;
	margin-top: 20%;
	
}

aside h1{
	text-align: center;
	font-size: 2em;
}

aside p {
	text-align: right;
}
