body {
	
	 background-color: #F1DC66;
}

header {
	font-size: 1.4em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	border-bottom: 5px solid black;


}

a:hover {
	color: red;
	font-weight: bold;
}

.titreP{
	text-align: left;
	color: black;
	margin-bottom: 80px;
	margin-left: 15%;
	height: 150px;
	

}

.menu {
	margin-right: 10%;
	word-spacing: 2em;
	padding-top: 100px;
}

#image1{
	width: 50%;
	height: 300px;
	display:inline-block;
	float: left;
	
}

#image2{
	width: 50%;
	height: 300px;
	display:inline-block;
	float: right;
}




article{
	float: left;
}

article p{
	font-size: 2em;
	width: 50%;
	margin-left: 2%;
	text-align: center;

}

h2{
	margin-left: 16%;
	color: #409D14;
	font-size: 3.5em;

}

aside { 
	position: absolute;
	border: solid;
	margin-left: 60%;
	margin-top: 20%;
	margin-right: 6%;
	border-radius: 30px;

	
}

aside h1{
	float: right;
	margin-right: 5%;
	font-size: 2em;
	color: #409D14;
}

aside p {
	margin-top: -15%;
	float: right;
	margin-left: 40%;
	font-size: 1.3em;
	text-align: center;

}



aside div {
	font-size: 1.3em;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-top: 15px;
	padding-bottom: 10%;
}


#image3{
	width: 35%;
	border-radius: 30px;
}


PP h1 {
	margin-top: 60%;
	font-size: 3.5em;
	color: #409D14;
	margin-left: 35%;
}

PP p{
	font-size: 1.7em;
	text-align: center;
}

cd h1{
	margin-top: 25%;
	font-size: 3.5em;
	color: #409D14;
	margin-left: 35%;
}




.bouton {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 20%;
	bottom: 20px;
	cursor: pointer;
}

.icon {
	width: 50px;
}
